<section class="bg-white">

  <div class="container mx-auto flex items-center flex-wrap pb-12 border-t">
    <div class="w-[700px] p-8 mx-auto ">
      <p>Gem Shop is an intentionally vulnerable Ruby on Rails application for teaching developers about web security.</p>
      <br>

      <p>Do not deploy this code on your own server. A hacker can exploit Gem Shop to break into your server and force it to join a botnet, mine cryptocurrency, and a number of other malicious things. This can also result in additional charges from your hosting provider (AWS, Hetzner, GCP, etc.), and your account being banned.</p>
      
      <br>

      <p>Gem Shop is an open source project from <a class="hover:underline" href="https://paraxial.io">Paraxial.io</a>, which helps developers secure their projects.</p>
    </div>
  </div>

</div>

